
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: apischemes.cloudingress.managed.openshift.io
spec:
  group: cloudingress.managed.openshift.io
  names:
    kind: APIScheme
    listKind: APISchemeList
    plural: apischemes
    singular: apischeme
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIScheme is the Schema for the APISchemes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: APISchemeSpec defines the desired state of APIScheme
            properties:
              managementAPIServerIngress:
                description: 'INSERT ADDITIONAL SPEC FIELDS - desired state of cluster
                  Important: Run "operator-sdk generate k8s" to regenerate code after
                  modifying this file Add custom validation using kubebuilder tags:
                  https://book-v1.book.kubebuilder.io/beyond_basics/generating_crd.html'
                properties:
                  allowedCIDRBlocks:
                    description: AllowedCIDRBlocks is the list of CIDR blocks that
                      should be allowed to access the management API
                    items:
                      type: string
                    type: array
                  dnsName:
                    description: DNSName is the name that should be used for DNS of
                      the management API, eg rh-api
                    type: string
                  enabled:
                    description: Enabled to create the Management API endpoint or
                      not.
                    type: boolean
                required:
                - allowedCIDRBlocks
                - dnsName
                - enabled
                type: object
            required:
            - managementAPIServerIngress
            type: object
          status:
            description: APISchemeStatus defines the observed state of APIScheme
            properties:
              cloudLoadBalancerDNSName:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "operator-sdk generate k8s" to regenerate
                  code after modifying this file Add custom validation using kubebuilder
                  tags: https://book-v1.book.kubebuilder.io/beyond_basics/generating_crd.html'
                type: string
              conditions:
                items:
                  description: APISchemeCondition is the history of transitions
                  properties:
                    allowedCIDRBlocks:
                      description: AllowedCIDRBlocks currently allowed (as of the
                        last successful Security Group update)
                      items:
                        type: string
                      type: array
                    lastProbeTime:
                      description: LastProbeTime last time probed
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime Last change to status
                      format: date-time
                      type: string
                    message:
                      description: Message is an English text
                      type: string
                    reason:
                      description: Reason is why we're making this status change
                      type: string
                    status:
                      description: Status
                      type: string
                    type:
                      description: Type is the type of condition
                      type: string
                  required:
                  - lastProbeTime
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  type: object
                type: array
              state:
                description: APISchemeConditionType - APISchemeConditionType
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
