apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: cloud-ingress-operator
  namespace: openshift-cloud-ingress-operator
rules:
- apiGroups:
  - machine.openshift.io
  resources:
    - machines
    - machinesets
  verbs:
    - get
    - list
    - watch
    - patch
    - update
- apiGroups:
  - operator.openshift.io
  resources:
    - ingresscontrollers
  verbs:
    - get
    - list
    - watch
    - delete
    - create
- apiGroups:
  - config.openshift.io
  resources:
    - infrastructures
    - apiservers
    - dnses
  verbs:
    - list
    - get
    - watch
- apiGroups:
  - config.openshift.io
  resources:
  - apiservers
  verbs:
  - patch
  - update
  - watch
- apiGroups:
  - cloudingress.managed.openshift.io
  resources:
  - '*'
  - apischemes
  - publishingstrategies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - cloud-ingress-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
- apiGroups:
  - apps
  resources:
  - replicasets
  - deployments
  verbs:
  - get
